* {
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	position: relative;
	font-family: "Cinzel", serif;
}
body {
	font-size: 16px;
	margin: 0;
	margin-bottom: 10rem;
}

h2 {
	font-size: 1.8rem;
}

/*Nav y logo*/
.logo {
	object-fit: cover;
	height: 20rem;
	width: 30rem;
	display: block;
	margin: auto;
}

.contenedorNavegacion {
	position: sticky;
	top: 0;
	background-color: #5b636e;
}

.navegacionElementos {
	margin: 0;
	list-style: none;
	display: flex;
	justify-content: space-evenly;
	padding: 0.4rem;
}

.navegacionElementosLink {
	color: #fff;
	text-decoration: none;
	font-size: 2rem;
	font-weight: 500;
}

.navegacionElementosLink::after {
	content: "";
	display: block;
	width: 0;
	height: 2px;
	background: rgb(221, 221, 221);
	transition: width 0.3s;
}

.navegacionElementosLink:hover::after {
	width: 100%;
	transition: width 0.3s;
}
.active:visited {
	color: #dfba69;
}

/*Footer*/

.footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	background-color: #5b636e;
}

.footerElementos {
	margin: 0 auto;
	list-style: none;
	display: flex;
	justify-content: center;
	padding: 1rem 0;
}

.footerTexto {
	color: #fff;
	text-align: center;
	padding-bottom: 1rem;
	margin: 0 auto;
}
/*inicio*/

.contenedorTitulo {
	background-color: rgb(255, 255, 255, 0.9);
	width: 100%;
	text-align: center;
	font-size: 1.2rem;
	font-weight: 600;
	margin: 0;
	padding: 3.2rem;
}
.contenedorTitulo h1 {
	margin: 0;
}

.contenedorInicio {
	height: 85vh;
	background-color: silver;
}

.textoIntroduccion {
	color: white;
	padding: 1.8rem;
	font-family: "Lato", sans-serif;
	font-size: 1.6rem;
	width: 100%;
	line-height: 2.5rem;
}

.primeraImagen {
	width: 40rem;
	float: left;
	margin: 1rem 1rem;
	border-radius: 0.8rem;
	box-shadow: black 0.5rem 0.5rem 0.5rem;
}
.segundaImagen {
	width: 40rem;
	float: right;
	clear: left;
	margin: 1rem 1rem;
	border-radius: 0.8rem;
	box-shadow: -0.5rem 0.5rem 0.5rem black;
}

/*Nuestros Vinos*/

.fondoVinos {
	background-image: url(../images/fondoVinos.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 90vh;
	position: relative;
}
.contenedorCard {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	right: 0;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	position: absolute;
}

.contenedorCard img {
	width: 22rem;
	height: 25rem;
}

.card {
	width: 26rem;
	height: 50rem;
	border-radius: 0.8rem;
	box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.4);
	overflow: hidden;
	padding: 1rem;
	font-size: 1.5rem;
	text-align: center;
	transition: all 0.25s;
	background-color: rgb(255, 255, 255);
	margin: 18px;
}

.card p {
	font-family: "Lato", sans-serif;
}

/*Formulario*/

.fondoContacto {
	background-image: url(../images/fondoContacto.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 86vh;
}

.contenedorFormulario {
	height: 100%;
}

.formularioContacto {
	background-color: rgba(200, 200, 210, 0.6);
	width: min(80rem, 70%);
	margin: 2rem auto;
	padding: 2rem;
	border-radius: 1rem;
}

.campo {
	margin: 1rem;
}

.campo label {
	font-weight: bold;
	margin-bottom: 0.5rem;
	display: block;
}

.campo textarea {
	resize: none;
}

.inputText {
	width: 100%;
	border: none;
	padding: 1.5rem;
	border-radius: 0.5rem;
}
.contenedorBotones {
	text-align: center;
}

.boton {
	background-color: rgb(61, 61, 61);
	color: white;
	padding: 1rem 3rem;
	margin-top: 3rem;
	font-size: 1.3rem;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 0.5rem;
	width: 45%;
	text-align: center;
	border: none;
	font-family: "lato", sans-serif;
}

.boton:hover {
	cursor: pointer;
	transform: translateY(-3%);
}
/*Novedades*/

.fondoNovedades {
	background-image: url(../images/fondoNovedades.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

.contenedorBlog {
	align-items: center;
	display: flex;
	border-bottom: 1px solid black;
	background-color: rgba(200, 200, 210, 0.6);
}

.contenedorImagenBlog {
	padding: 0.8rem 1.8rem 0.8rem 0.8rem;
}

.contenedorBlog p {
	font-family: "Lato", sans-serif;
}

/*Tienda*/

.contenedorTienda {
	background-image: url(../images/fondoTienda.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 90vh;
}

.grillaTienda {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.vinosContenedor {
	margin: 0 auto;
	margin-top: 15rem;
	width: 30rem;
	height: 50rem;
	border-radius: 0.8rem;
	box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.8);
	overflow: hidden;
	padding: 1rem;
	font-size: 1.5rem;
	text-align: center;
	transition: all 0.25s;
	background-color: rgb(255, 255, 255);
}

.vinoImagen {
	width: 26rem;
	height: 32rem;
}

.vinoInformacion p {
	text-align: center;
	font-size: 1.5rem;
	font-family: "Lato", sans-serif;
}

.vinoComprar {
	text-decoration: none;
	padding: 0.8rem;
	font-weight: 500;
	font-size: 2.2rem;
	color: #ffffff;
	background-color: #5b636e;
	border-radius: 0.9rem;
	cursor: pointer;
	font-family: "Lato", sans-serif;
}

.vinosContenedor:hover {
	transform: translateY(-5%);
}
