:root {
    --pfont: 'Cinzel', serif;
    --sfont: 'Montserrat', sans-serif;
}

html{
    font-size: 62.5%
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 0.05rem;
}

main{
    min-height: calc(110vh - 10rem - 10rem);
}

h1{
    text-align: center;
    font-size: 2.8rem;
    background-color: rgba(179, 176, 176, 0.5);
    border-radius: .5rem;
    margin-bottom: 2.5rem;
    font-family: var(--pfont);
}

h2 {
    font-family: var(--pfont);
}

p{
    font-family: var(--sfont);
}

/*logo y Nav*/

.contenedorLogoNav{
    display: flex;
    justify-content: space-around;
    background-color: rgb(23, 28, 48);
    align-items: center;
    height: 10rem;
    width: 100%;
}

.logo{
    height: 10rem;
    width: 25rem;
    object-fit: cover;
}

.navegadorContenedor{
    display: flex;
    list-style: none;
}

.navegadorElemento{
    padding: 0.5rem;
    margin: 1.5rem;
}

.navegadorElementoLink{
    text-decoration: none;
    color: #FFCE64;
    font-size: 2rem;
    font-weight: 500;
    font-family: var(--pfont);
}

.navegadorElementoLink::after {
	content: "";
	display: block;
	width: 0;
	height: 2px;
	background: #9e792a;
	transition: width 0.3s;
}

.navegadorElementoLink:hover::after {
	width: 100%;
	transition: width 0.3s;
}
.active:visited {
	color: #fafafa;
}

.iconoNavegador{
    height: 5rem;
    width: 5rem;
}

/*Footer*/

.footer {
    height: 10rem;
	width: 100%;
	bottom: 0;
	background-color: rgb(23, 28, 48);
}

.footerElementos {
	margin: 0 auto;
	list-style: none;
	display: flex;
	justify-content: center;
	padding: 1rem 0;
}

.footerTexto {
	color: #FFCE64;
	text-align: center;
	padding-bottom: 0.5rem;
	margin: 0 auto;
    font-size: 1.5rem;
}

/*inicio*/

.contenedorInicio{
    background-image: url(../images/preindexfondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;        
}

.inicioElementos{
    margin-top: 6rem;
    display: grid;
    width: 100%;
    grid-template-columns: 2fr 2fr;
    align-items: center;
    justify-items: center;
    grid-template-areas: "TEXTO TEXTO";
    
}

.inicioElementos h2{
    font-size: 2rem;
    font-weight: bold;
    padding: 2rem;
}

.inicioTexto{
    height: 65rem;
    background-color: rgb(255, 255, 255, 0.6);
    width: 70%;
    text-align: center;
    border-radius: 2rem;
    padding: 1.5rem;
    font-size: 1.5rem;
}

.inicioTexto p{
    margin: 2rem auto;
    text-align: center;
}

.inicioImagen{
    width: 90%;
    border-radius: 2rem;
    padding: 1rem;
}


/*Nuestros Vinos*/

.contenedorVinos{
    background-image: url(../images/fondoVinos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.contenedorCard{
    display: flex;
	justify-content: center;
    align-items: center;
    margin-top: 8rem;
}

.card{
    background-color: rgb(255, 255, 255);
    width: 25%;
    height: 55rem;
    border-radius: 5rem;
	box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0);
	overflow: hidden;
	padding: 1rem;
	text-align: center;
	margin: 18px;
}

.card h2{
    width: 100%;
    font-size: 1.8rem;
    margin: 1rem;
    font-weight: bold;
}

.card p{
    font-size: 1.3rem;
}

.card img{
    width: 70%;
    object-fit: scale-down;
}

/*Tienda*/

.contenedorTienda {
	background-image: url(../images/fondoTienda.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.grillaTienda {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    margin-top: 12rem;
    column-gap: 2rem;
}

.vinosContenedor {
	width: 40rem;
	height: min-content;
	border-radius: 5rem;
	box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.8);
	overflow: hidden;
	padding: 1rem;
	font-size: 1.5rem;
	text-align: center;
	transition: all 0.25s;
	background-color: rgb(255, 255, 255);
    align-self: center;
    justify-self: center;
    margin-bottom: 2rem;
}
.vinosContenedor h2{
    font-size: 2.2rem;
    margin-bottom: 2rem;
}

.vinoImagen {
	width: 80%;
	height: fit-content;
    padding: 1rem;
    object-fit: scale-down;
}

.vinoInformacion p {
	text-align: center;
	font-size: 2rem;
    margin-bottom: 1rem;
}

.vinoComprar {
	text-decoration: none;
	padding: 2rem;
	font-weight: 500;
	font-size: 1.5rem;
	color: #ffffff;
	background-color: #5b636e;
	border-radius: 1.5rem;
	cursor: pointer;
}

.vinosContenedor:hover {
	transform: translateY(-5%);
}

/*Novedades*/

.fondoNovedades {
	background-image: url(../images/fondoNovedades.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.contenedorBlog{
    padding: 2rem 0;
}

.contenedorEntrada {
    display: flex;
	align-items: center;
	border-bottom: 1px solid black;
	background-color: rgba(200, 200, 210, 0.6);
}

.contenedorImagenBlog {
	padding: 0.8rem 1.8rem 0.8rem 0.8rem;
}

.contenedorTextoBlog h2{
    font-size: 1.9rem;
    font-weight: bold;
}

.contenedorTextoBlog p{
    font-size: 1.5rem;
}

/*Contacto*/

.fondoContacto {
	background-image: url(../images/fondoContacto.jpg);
	background-repeat: no-repeat;
	background-size: cover;
    min-height: calc(115vh - 10rem - 10rem);
}


.formularioContacto {
	background-color: rgba(200, 200, 210, 0.6);
	width: min(75rem, 70%);
	margin: 2rem auto;
	padding: 2rem;
	border-radius: 1rem;
    font-size: 1.5rem;
}

.campo {
	margin: 1rem;
}

.campo label {
	font-weight: bold;
	margin-bottom: 0.5rem;
	display: block;
}

.campo textarea {
	resize: none;
}

.inputText {
	width: 100%;
	border: none;
	padding: 1.5rem;
	border-radius: 0.5rem;
}
.contenedorBotones {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.boton {
	background-color: rgb(61, 61, 61);
	color: white;
	padding: 1rem 3rem;
	margin-top: 3rem;
	font-size: 1.3rem;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
    text-align: center;
	border-radius: 1rem;
	width: 30rem;
	border: none;
}

.boton:hover {
	cursor: pointer;
	transform: translateY(-3%);
}


/*MEDIA QUERIES*/

@media screen and (max-width: 600px) {
    
    h1{
        font-size: 2.5rem;
    }
    /*nav*/

    .contenedorLogoNav{
        flex-direction: column;
        height: 60rem;
    }
    
    .logo{
        width: 100%;
        height: 50%;
        object-fit: contain;
    }
    
    .navegadorContenedor{
        align-items: center;
        flex-direction: column;
    }

    /*inicio*/

    .inicioTexto h2{
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: .2rem;
    }
    .inicioTexto{
        font-size: 1.5rem;
        width: 94%;
        height: fit-content;
    }
        
    .contenedorInicio{
            background-position: center;
    }
    
        
    .inicioElementos{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 1rem;
    }
    /*nuestros vinos*/

    .contenedorCard{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card{
        width: 70%;
        height: max-content;
    }
    
    .contenedorCard h2{
        
        font-size: 2rem;
    }

    .card p{
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    /*tienda*/

    .grillaTienda {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 2.5rem;
        height: min-content;
    }
    
    .vinosContenedor {
        width: 75%;
        height: max-content;
    }

    .vinosContenedor h2{
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    .vinoComprar {
        padding: 3%;
    }

    /*Formulario*/

    .formularioContacto{
        width: 95%;
    }

    .contenedorBotones input{
        width: 80%;
    }

    /*novedades*/
    
    .contenedorBlog{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }    
    .contenedorEntrada {
        flex-direction: column;
        width: 90%;
        height: min-content;
        border-radius: 5rem;
        box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.8);
        overflow: hidden;
        padding: 1rem;
        font-size: 1.5rem;
        text-align: center;
        transition: all 0.25s;
        background-color: rgb(255, 255, 255, .9);
        margin-bottom: 2rem;
    }
    .imagenBlog{
        border-radius: 1rem;
        height: 28rem;
    }

    .contenedorTextoBlog h2{
        font-size: 1.9rem;
        font-weight: bold;
        padding: 3rem;
    }
    
    .contenedorTextoBlog p{
        font-size: 1.6rem;
    }
    
}   

@media screen and (min-width: 600px){

    h1{
        font-size: 3rem;
    }
    /*nav*/

    .contenedorLogoNav{
        flex-direction: column;
        height: 60rem;
    }

    .logo{
        width: 100%;
        height: max-content;
        object-fit: scale-down;
    }

    .navegadorContenedor{
        display: grid;
        grid-template-columns: 18rem 18rem;
        grid-template-rows: 10rem 10rem;
        grid-template-areas: "NAVEGADOR NAVEGADOR"
                             "NAVEGADOR NAVEGADOR"
                             "NAVEGADOR NAVEGADOR";
        align-items: center;
        justify-items: center;
        width: 100%;
        height: 50%;                                                          
                                              
    }
    .navegadorContenedor .navegadorElemento:nth-child(5){
        grid-column: 1/3;
        grid-row: 3;
    }
    .navegadorElementoLink{
        font-size: 2.8rem;  
    }

    /*inicio*/

    .inicioTexto h2{
        font-size: 2.5rem;
        font-weight: bold;
    }
    .inicioTexto{
        width: 98%;
    }

    .inicioTexto p{
        font-size: 1.3rem;
        width: 90%;
        margin-bottom: 2rem;
        align-self: center;
    }
        
    .inicioImagen{
       width: 100%;
       object-fit: fill;
    }

    .inicioImagen img{
        height: 25rem;
        border-radius: 1rem;
    }

    /*nuestros vinos*/

    .contenedorCard{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card{
        width: 65%;
        height: max-content;
    }

    .contenedorCard h2{
        font-size: 2rem;
    }

    .card p{
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }


    /*tienda*/

    .grillaTienda {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
        height: min-content;
    }

    .vinosContenedor {
        width: 69%;
        height: max-content;
    }

    .vinosContenedor h2{
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    .vinoComprar {
        padding: 3%;
    }

    /*Formulario*/

    .formularioContacto{
        width: 95%;
    }

    .contenedorBotones input{
        width: 80%;
    }

    /*novedades*/

    .contenedorBlog{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }    
    .contenedorEntrada {
        flex-direction: column;
        width: 90%;
        height: min-content;
        border-radius: 5rem;
        box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.8);
        overflow: hidden;
        padding: 1rem;
        font-size: 1.5rem;
        text-align: center;
        transition: all 0.25s;
        background-color: rgb(255, 255, 255, .9);
        margin-bottom: 2rem;
    }
    .imagenBlog{
        height: 35rem;
        width: 65%;
        border-radius: 1rem;
    }
    .contenedorTextoBlog h2{
        font-size: 1.9rem;
        font-weight: bold;
        padding: 3rem;
    }

    .contenedorTextoBlog p{
        font-size: 1.6rem;
        margin: 2rem;
    }

} 

@media screen and (min-width: 768px){

    h1{
        font-size: 3.5rem;
    }
    /*nav*/

    .contenedorLogoNav{
        flex-direction: column;
        height: 60rem;
    }

    .navegadorContenedor{
        display: flex;
        height: 20rem;                                                    
        flex-wrap: wrap; 
        justify-content: center;
        align-items: center;                                     
    }

    /*inicio*/

    .inicioTexto h2{
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: .8rem;
    }
    .inicioTexto{
        font-size: 1.8rem;
        width: 94%;
        height: fit-content;
    }
        
    .inicioImagen{
        width: 100%;
        height: min-content;
    }

    .inicioImagen img{
        border-radius: 1rem;
    }
    /*nuestros vinos*/
    .contenedorCard{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .card{
        width: 35rem;
    }
    .card h2{
        font-size: 2.2rem;
    }
    .card p{
        font-size: 1.4rem;
    }
    .card img{
        width: 60%;
        object-fit: scale-down;
    }

    /*tienda*/

    .contenedorTienda {
        background-image: url(../images/fondoTienda.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .grillaTienda {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-items: center;
        margin-top: 12rem;
        column-gap: 2rem;
        
    }
    
    .vinosContenedor {
        width: 35rem;

    }
    .vinosContenedor h2{
        font-size: 2.2rem;
        margin-bottom: 2rem;
    }
    
    .vinoImagen {
        width: 75%;
        height: fit-content;
        padding: 1rem;
        object-fit: scale-down;
    }
    
    .vinoInformacion p {
        text-align: center;
        font-size: 2.2rem;
        margin-bottom: 1rem;
    }
    

@media screen and (min-width: 960px){
    
    /*inicio*/
    
    .navegadorContenedor{
        width: 100%;
        height: max-content;
        flex-direction: row;
    }

    .logo{
        width: 70%;
    }
        
    /*inicio*/
    
    .contenedorInicio{
        background-image: url(../images/preindexfondo.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;        
    }
    
    .inicioElementos{
        margin-top: 6rem;
        display: grid;
        width: 100%;
        grid-template-columns: 2fr 2fr;
        align-items: center;
        justify-items: center;
    }
    
    .inicioElementos h2{
        font-size: 2rem;
        font-weight: bold;
        padding: 2rem;
    }
    
    .inicioTexto{
        height: 65rem;
        background-color: rgb(255, 255, 255, 0.6);
        width: 90%;
        border-radius: 2rem;
        padding: 1.5rem;
        text-align: center;
        margin-bottom: 3rem;
        font-size: 1.5rem;
    }
    
    .inicioImagen{
        width: 100%;
        height: max-content;
        border-radius: 2rem;
        padding: 1rem;;
    }
    
    
    /*Nuestros Vinos*/
    
    .contenedorCard{
        display: grid;
        grid-template-columns: repeat(2,2fr);
        grid-template-rows: repeat(2,2fr);
        justify-items: center;
        align-items: center;
    }
    
    .card{
        background-color: rgb(255, 255, 255);
        width: 85%;
        height: 55rem;
    }
    
    .card h2{
        width: 100%;
        font-size: 2rem;
        margin: 1rem;
        font-weight: bold;
    }
    
    .card p{
        font-size: 1.5rem;
    }
    
    /*Tienda*/
    
    .contenedorTienda {
        background-image: url(../images/fondoTienda.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .grillaTienda {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-items: center;
        margin-top: 12rem;
        column-gap: 2rem;
    }
    
    .vinosContenedor {
        width: 40rem;
        height: min-content;
        border-radius: 5rem;
        box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.8);
        overflow: hidden;
        padding: 1rem;
        font-size: 1.5rem;
        text-align: center;
        transition: all 0.25s;
        background-color: rgb(255, 255, 255);
        align-self: center;
        justify-self: center;
        margin-bottom: 2rem;
    }
    .vinosContenedor h2{
        font-size: 2.2rem;
        margin-bottom: 2rem;
    }
    
    .vinoImagen {
        width: 80%;
        height: fit-content;
        padding: 1rem;
        object-fit: scale-down;
    }
    
    .vinoInformacion p {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    /*Novedades*/
    .imagenBlog{
        width: 30rem;
        border-radius: 2rem;
    }
}

@media screen and (min-width: 1200px) {
    
    .contenedorLogoNav{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: rgb(23, 28, 48);
        align-items: center;
        height: 15rem;
        width: 100%;
    }
    
    .logo{
        height: 12rem;
        width: 30rem;
        object-fit: scale-down;
    }
    
    .navegadorElemento{
        padding: 1rem;
        margin: 1rem;

    }
    
    .navegadorElementoLink{
        font-size: 2rem;
 
    }

    /*inicio*/
    
    
    .inicioElementos h2{
        font-size: 2rem;
        font-weight: bold;
        padding: 2rem;
    }
    
    .inicioTexto{
        height: 60rem;
        background-color: rgb(255, 255, 255, 0.6);
        width: 65%;
        border-radius: 2rem;
        text-align: center;
        font-size: 1.5rem;
    }

    .inicioTexto p{
        font-size: 1.4rem;
    }
    
    .inicioImagen{
        width: 70%;
    }

    
    
    
    /*Nuestros Vinos*/
    
    .contenedorCard{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 8rem;
    }
  
    
    /*Tienda*/
    
    .contenedorTienda {
        background-image: url(../images/fondoTienda.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .grillaTienda {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        justify-items: center;
        margin-top: 6rem;
        column-gap: 2rem;
    }
    
   
    
    /*Novedades*/
    
    .fondoNovedades {
        background-image: url(../images/fondoNovedades.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .contenedorBlog{
        display: flex;
        flex-direction: column;

    }
    .contenedorEntrada {
        display: flex;
        flex-direction: row;
        align-items: none;
        background-color: rgb(245, 238, 238)
    }
    
    .imagenBlog{
        width: 30rem;
        border-radius: 2rem;
    }
    
    .contenedorTextoBlog h2{
        font-size: 2rem;
        font-weight: bold;
        text-align: start;
    }
    
    .contenedorTextoBlog p{
        font-size: 1.5rem;
    }
    
    /*Contacto*/

    
    
    .formularioContacto {
        background-color: rgba(200, 200, 210, 0.6);
        width: min(75rem, 70%);
        margin: 2rem auto;
        padding: 2rem;
        border-radius: 1rem;
        font-size: 1.5rem;
    }
    
    .campo {
        margin: 1rem;
    }
    
    .campo label {
        font-weight: bold;
        margin-bottom: 0.5rem;
        display: block;
    }
    
    .campo textarea {
        resize: none;
    }
    
    .inputText {
        width: 100%;
        border: none;
        padding: 1.5rem;
        border-radius: 0.5rem;
    }
    .contenedorBotones {
        display: flex;
        align-items: center;
        flex-direction: row;
        text-align: center;
        width: 70%;
        margin: 1rem auto;
    }
    .boton{
        margin: 2rem;
    }

}